In [1]:
import pandas as pd
import os

In [2]:
# csv_file = "Resources/CandidateSummaryAction1.csv"
csv_file = os.path.join('Resources', 'CandidateSummaryAction1.csv')

In [3]:
df = pd.read_csv(csv_file)

In [4]:
df.columns

Index(['can_id', 'can_nam', 'can_off', 'can_off_sta', 'can_off_dis',
       'can_par_aff', 'can_inc_cha_ope_sea', 'can_str1', 'can_str2', 'can_cit',
       'can_sta', 'can_zip', 'ind_ite_con', 'ind_uni_con', 'ind_con',
       'par_com_con', 'oth_com_con', 'can_con', 'tot_con',
       'tra_fro_oth_aut_com', 'can_loa', 'oth_loa', 'tot_loa',
       'off_to_ope_exp', 'off_to_fun', 'off_to_leg_acc', 'oth_rec', 'tot_rec',
       'ope_exp', 'exe_leg_acc_dis', 'fun_dis', 'tra_to_oth_aut_com',
       'can_loa_rep', 'oth_loa_rep', 'tot_loa_rep', 'ind_ref', 'par_com_ref',
       'oth_com_ref', 'tot_con_ref', 'oth_dis', 'tot_dis',
       'cas_on_han_beg_of_per', 'cas_on_han_clo_of_per', 'net_con',
       'net_ope_exp', 'deb_owe_by_com', 'deb_owe_to_com', 'cov_sta_dat',
       'cov_end_dat', 'winner', 'votes'],
      dtype='object')

In [5]:
columns = ['can_id', 'can_nam', 'can_off', 'can_off_sta','can_par_aff',
    'ind_ite_con', 'ind_uni_con', 'ind_con', 'tot_con','ope_exp', 'winner', 'votes']

In [6]:
new_df = pd.DataFrame(df, columns=columns)

In [7]:
new_df.loc[new_df['winner'] == 'Y'].sort_values('tot_con')

,can_id,can_nam,can_off,can_off_sta,can_off_dis,can_par_aff,ind_ite_con,ind_uni_con,ind_con,tot_con,ope_exp,winner,votes
28,H8OH05036,"LATTA, ROBERT EDWARD MR",H,OH,5.0,REP,"$353,475.97","$54,170.15","$407,646.12","$1,000,568.32","$384,642.27",Y,240036.0
157,H2MI05119,"KILDEE, DANIEL T.",H,MI,5.0,DEM,"$408,122.29",$0.14,"$408,122.43","$1,008,084.97","$398,747.99",Y,195076.0
105,H0PA10078,"MARINO, THOMAS ANTHONY",H,PA,10.0,REP,"$439,332.30","$46,865.54","$486,197.84","$1,010,652.71","$701,744.31",Y,208106.0
92,H6MD07160,"CUMMINGS, ELIJAH E",H,MD,7.0,DEM,"$406,853.15","$19,391.00","$426,244.15","$1,013,044.15","$554,722.65",Y,211962.0
128,H6MS01131,"KELLY, JOHN TRENT",H,MS,1.0,REP,"$499,620.92","$56,408.93","$556,029.85","$1,014,687.85","$771,977.17",Y,203142.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,H8CA04152,"MCCLINTOCK, THOMAS",H,CA,4.0,REP,"$575,553.06","$301,515.49","$877,068.55","$995,363.00","$722,167.82",Y,196613.0
358,H2CA43245,"TAKANO, MARK",H,CA,41.0,DEM,"$613,695.92","$86,584.82","$700,280.74","$996,812.88","$596,311.08",Y,115859.0
244,H2MD02160,"RUPPERSBERGER, C.A. DUTCH",H,MD,2.0,DEM,"$416,902.00","$22,937.19","$439,839.19","$997,739.19","$717,979.04",Y,172324.0
169,H2TN07103,"KUSTOFF, DAVID",H,TN,8.0,REP,"$852,110.00","$24,121.00","$876,231.00","$998,531.00","$967,665.09",Y,193353.0
1250,H4PA13199,"BOYLE, BRENDAN F",H,PA,13.0,DEM,"$340,403.50","$14,690.29","$355,093.79","$999,124.24","$430,085.16",Y,NaN

WI, PA, NH, MN, AZ, GA, VA, FL, MI, NV, CO, NC, ME

In [8]:
swing_states = new_df[
    (new_df['can_off_sta'] == 'WI') | (new_df['can_off_sta'] == 'PA') | 
    (new_df['can_off_sta'] == 'NH') | (new_df['can_off_sta'] == 'MN') |
    (new_df['can_off_sta'] == 'AZ') | (new_df['can_off_sta'] == 'GA') |
    (new_df['can_off_sta'] == 'VA') | (new_df['can_off_sta'] == 'FL') |
    (new_df['can_off_sta'] == 'MI') | (new_df['can_off_sta'] == 'NV') |
    (new_df['can_off_sta'] == 'CO') | (new_df['can_off_sta'] == 'NC') |
    (new_df['can_off_sta'] == 'ME')   
]
swing_df = swing_states.dropna()
swing_df = swing_df.sort_values(by='tot_con', ascending=False)

In [10]:
swing_df

,can_id,can_nam,can_off,can_off_sta,can_off_dis,can_par_aff,ind_ite_con,ind_uni_con,ind_con,tot_con,ope_exp,winner,votes
62,H8VA01147,"WITTMAN, ROBERT J MR.",H,VA,1.0,REP,"$420,921.00","$86,573.09","$507,494.09","$984,074.19","$822,786.31",Y,221826.0
25,H6GA05217,"LEWIS, JOHN R.",H,GA,5.0,DEM,"$357,268.09","$54,375.24","$411,643.33","$983,493.33","$655,731.53",Y,241773.0
124,H4WI06048,"GROTHMAN, GLENN S.",H,WI,6.0,REP,"$579,811.77","$123,184.38","$702,996.15","$983,092.10","$746,861.15",Y,203920.0
6,H2WI02124,"POCAN, MARK",H,WI,2.0,DEM,"$239,089.22","$154,784.61","$393,873.83","$970,547.37","$445,465.15",Y,273520.0
13,H6FL01119,"GAETZ, MATT",H,FL,1.0,REP,"$648,874.74","$38,149.49","$687,024.23","$952,163.89","$993,759.23",Y,254280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,H6FL09179,"SOTO, DARREN",H,FL,9.0,DEM,"$601,984.97","$46,705.91","$648,690.88","$1,067,119.54","$971,728.89",Y,194963.0
31,H4NC01046,"BUTTERFIELD, G K",H,NC,1.0,DEM,"$153,750.00","$25,092.48","$178,842.48","$1,034,423.84","$653,860.34",Y,237938.0
375,H4AZ07043,"GALLEGO, RUBEN",H,AZ,7.0,DEM,"$420,737.76","$124,099.24","$544,837.00","$1,025,225.14","$483,939.12",Y,88219.0
105,H0PA10078,"MARINO, THOMAS ANTHONY",H,PA,10.0,REP,"$439,332.30","$46,865.54","$486,197.84","$1,010,652.71","$701,744.31",Y,208106.0
157,H2MI05119,"KILDEE, DANIEL T.",H,MI,5.0,DEM,"$408,122.29",$0.14,"$408,122.43","$1,008,084.97","$398,747.99",Y,195076.0